//<!-------------------------the nav container --------------------------->//
.navbg{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/breadcrumb_bg.jpg);
    height: 400px;
    background-position: center;
}
.nav-link{
    color: white;
    font-weight: bold;
}
.thenav{
background-image:linear-gradient(to top right,#7543f9,#9168f7);
}
.nav-link:hover{
    color:white;
}

form .signup{
    color:rgb(110, 91, 216);
    font-weight: bold;
    padding: 15px 50px;
    box-sizing: border-box;
}
form .signup:hover{
    color: white;
    background:none;
}
form a{
    margin:0 50px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.navtext{
    padding-top: 150px;
    box-sizing: border-box;
    h3,a,li{
        color: white;
    }
    a:hover{
        color:white;
        text-decoration-line: none;
    }
    ol{
        background: none;
        margin-left: -15px;
        font-size: 20px;
        .home{
            font-size: 20px;
            font-weight: 700;
        }
       span{
           color: white;
           margin: 0 5px;
       }
    }
}
.active{
    color: white;
    text-decoration-line: underline;
}
.border1{
    border-left: 5px solid white;
    padding-left: 20px;
    box-sizing: border-box;
    h3{
        font-size: 40px;
    }
}
// <!----------------------------pricing plan container--------------------->
.pricing{
   padding: 100px 0 200px 0;
   box-sizing: border-box;
.box{
    border: 2px solid white;
    background-color: white;
    box-shadow: 0 20px 20px 20px rgb(224, 223, 223);
}
.bbtm{
    border-bottom: 1px solid rgb(206, 204, 204);
    padding: 30px 0;
    box-sizing: border-box;
    span{
        color: rgb(168, 168, 168);
        font-size: 20px;
    }
    h2,h3{
        font-weight: bold;
    }
    h3{
        font-size: 20px;
    }
}
.features{
    padding: 30px 0 50px 0;
    box-sizing: border-box;
    line-height: 35px;
    i{
        border: 1px solid rgb(35, 233, 151);
        color: rgb(35, 233, 151);
        margin-left: 40px;
        margin-right: 10px;
    }
    .paddbtm{
        padding-bottom: 40px;
        box-sizing: border-box;
    }
    .paddbtm1{
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    span{
        color: rgb(85, 104, 167);
        line-height: 15px;
    }
    .icon{
        border: 1px solid rgb(102, 102, 245);
        padding: 15px 30px;
        box-sizing: border-box;
        background-color: rgb(102, 102, 245);
        a{
            color: white;
            font-weight: bold;
        }
    }

  }
}
.box:hover{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/pricing_box.png);
    background-position: center;
    background-size: cover;
    border: none;
    h2,h3,span,i{
        color: white;
        border-color: white;
    }
    .bbtm{
        background:rgb(63, 127, 201) ;
        opacity: 0.96;
    }
    .features{
        background-image: linear-gradient(rgb(63, 127, 201),rgb(2, 2, 207));
        opacity: 0.9;
    }
    .icon{
        border: 1px solid white;
        background-color: white;
        a{
            color: rgb(110, 110, 236);
        }
    }
}
//<!--------------------------------------------------------->
.numbg{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/counter_shape.png);
    background-position: center;
}
.numcounter{
    height: 600px;
    display: flex;
    align-items: flex-end;
    span{
        font-size: 40px;
        font-weight: bold;
        padding-right: 100px;
        box-sizing: border-box;
    }
    p{
        font-weight: 600;
        font-size: 19px;
    }
}
//<!-----------------------------------------expert container------------------------->
.paddtop1{
    padding-top: 200px;
    box-sizing: border-box;
    span{
        color: rgb(97, 94, 233);
        font-weight: 600;
        font-size: 25px;
    }
    h2{
        font-size: 40px;
    }
    p{
        color: rgb(89, 89, 110);
    }
}
.padd{
    padding-bottom: 50px;
    box-sizing: border-box;
}
.button{
    padding-top: 70px;
}
.viewall{
    border: 1px solid rgb(97, 94, 233);
    padding: 15px 30px;
    box-sizing: border-box;
    background-color:rgb(97, 94, 233) ;
    color: white;
    font-weight: 700;
    font-size: 17px;
}
.viewall:hover{
    text-decoration-line:none ;
    color: white;
}
.paddtop{
    padding-top: 30px;
    box-sizing: border-box;
}
.teambox{
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-left: 10px;
    box-sizing: border-box;
    i{
        margin:0 15px;
        padding-bottom: 5px;
        box-sizing: border-box;
        transform: translateY(15px);
    }
    .face{
        padding: 5px;
        box-sizing: border-box;
        color: rgb(63, 68, 133);
        background-color: white;
        border: 1px solid rgb(212, 212, 212);
    }
    .face:hover{
        color: white;
        background-color: rgb(63, 68, 133);
        border: 1px solid rgb(63, 68, 133);

    }
    .twitter{
        padding: 5px;
        box-sizing: border-box;
        color: rgb(28, 153, 236);
        background-color: white;
        border: 1px solid rgb(212, 212, 212);
    }
    .twitter:hover{
        color: white;
        background-color: rgb(28, 153, 236);
        border: 1px solid rgb(28, 153, 236);

    }
    .insta{
        padding: 5px;
        box-sizing: border-box;
        color: rgb(241, 12, 230);
        background-color: white;
        border: 1px solid rgb(212, 212, 212);
    }
    .insta:hover{
        color: white;
        background-color: rgb(241, 12, 230);
        border: 1px solid rgb(241, 12, 230);

    }
    .pintrest{
        padding: 5px;
        box-sizing: border-box;
        color: rgb(175, 10, 10);
        background-color: white;
        border: 1px solid rgb(212, 212, 212);
    }
    .pintrest:hover{
        color: white;
        background-color: rgb(175, 10, 10);
        border: 1px solid rgb(175, 10, 10);

    }
}
///<!-----------------------------------------brands carousel------------------------------------>
.width{
    width: 70%;
    padding: 100px 0;
    box-sizing: border-box;
}

.brandimg{
    width: 100%;
}
///<!------------------------------------foooooooooooooter--------------------------->
.footer{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/footer_bg01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .flex{
        padding-top: 250px;
        padding-bottom: 100px;
        box-sizing: border-box;
        color: white;
        p{
            font-size: 14.5px;
            padding-top: 20px;
            box-sizing: border-box;
            line-height: 25px;
        }
        .margin{
            margin-left: -40px;
        }
        i{
            color: white;
            margin-right: 10px;
        }
        a{
            color: white;
            
        }
        a:hover{
            color: white;
            text-decoration-line: none;
            margin-left: 5px;
        }
        li{
            list-style: none;
            line-height: 30px;
        }
    }
}
.tag{
    border: 1px solid white;
    font-size: 15px;
    padding:5px;
    box-sizing: border-box;
}
.support{
 h5{
     padding-bottom: 15px;
     box-sizing: border-box;
 }
 p{
     margin-top: -15px;
 }
 .email{
     margin-top: -30px;
 }
 h6{
     padding-bottom: 10px;
     box-sizing: border-box;
 }
 .icon{
     border: 1px solid rgb(78, 84, 172);
     padding: 5px 15px;
     box-sizing: border-box;
    }
}
.boxborder{
    padding: 10px 0 0 0;
    border-top: 1px solid rgb(38, 41, 80);
    color: white;
    a{
        color: white;
        font-weight:bolder;
    }
    a:hover{
        color: white;
        text-decoration-line: none;
    }
    .ml{
        margin-right: 10px;
    }
}
@media(max-width:600px){
    .footer{
        background-position: left;
    }
    .paddbtm{
        padding-top: 50px;
        box-sizing: border-box;
    }
    .center{
        text-align: center;
    }
    .signup,.search-icon{
        display: none;
    }
}
//<!-----------------------------------some media query shit----------------------->
@media(max-width:1000px){
    .teambox{
        margin-bottom: 40px;
        img{
            width: 100%;
        }
    }
    .box{
        margin-bottom: 30px;
    }
    .img1{
        width: 100%;
    }
    .numcounter{
        text-align: center;
    }
    .width{
        width: 110%;
    }
    .brandimg{
        margin: 10px;
    }
}
//<!---------------------------------------the end------------------------------------->