.divone{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/slider/slider_bg02.png);
    height: 800px;
}
.bgblue{
    background-image: linear-gradient(to top right,rgb(86, 86, 255),blue);
    height: 300px;
}
.bgimage{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/counter_bg01.jpg);
    height: 250px;
    background-position: center;
}
.footerbg{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/footer_bg02.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    
}