.navbg{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/slider/slider_bg03.jpg);
    height: 850px;
    background-position: center;
}
.white{
    color: white;
}
.align{
    align-items: flex-end;
}
.numbg{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/counter_shape.png);
   height: 300px;
}
.bg{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/cta_bg.jpg);
    height: 300px;   
}
.footerbg{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/footer_bg03.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}