.navbg {
  background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/breadcrumb_bg.jpg);
  height: 400px;
  background-position: center;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.navbar .navbar-toggler {
  border-color: white;
}

.thenav {
  background-image: linear-gradient(to top right, #7543f9, #9168f7);
}

.nav-link:hover {
  color: white;
}

form .signup {
  color: #6e5bd8;
  font-weight: bold;
  padding: 15px 50px;
  box-sizing: border-box;
}

form .signup:hover {
  color: white;
  background: none;
}

form a {
  margin: 0 50px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navtext {
  padding-top: 150px;
  box-sizing: border-box;
}
.navtext h3, .navtext a, .navtext li {
  color: white;
}
.navtext a:hover {
  color: white;
  text-decoration-line: none;
}
.navtext ol {
  background: none;
  margin-left: -15px;
  font-size: 20px;
}
.navtext ol .home {
  font-size: 20px;
  font-weight: 700;
}
.navtext ol span {
  color: white;
  margin: 0 5px;
}

.active {
  color: white;
  text-decoration-line: underline;
}

.border1 {
  border-left: 5px solid white;
  padding-left: 20px;
  box-sizing: border-box;
}

.grid {
  padding-top: 100px;
  box-sizing: border-box;
}

.newsbox2 {
  box-shadow: 5px 5px 5px #bebebe;
  margin-bottom: 20px;
}
.newsbox2 .head {
  color: black;
  font-weight: bolder;
  font-size: 25px;
}
.newsbox2 .head:hover {
  text-decoration-line: none;
  color: #4e4eee;
}

.newsbox2:hover {
  box-shadow: 10px 10px 10px #a8a8a8;
}

.innerbox {
  padding: 20px;
  box-sizing: border-box;
}

.name {
  font-size: 15px;
  color: #e66102;
  margin-left: 5px;
}

.date {
  font-size: 14px;
  color: darkgray;
  margin-top: 2px;
}

.share {
  color: #797979;
  margin-top: 7px;
}

.share:hover {
  color: #e66102;
}

.thirdcol h5 {
  font-size: 15px;
}
.thirdcol h4 {
  padding: 50px 0 20px 0;
  box-sizing: border-box;
}
.thirdcol li {
  list-style: none;
  transform: translateX(-40px);
}
.thirdcol a {
  color: black;
}
.thirdcol a:hover {
  text-decoration: none;
}
.thirdcol form input {
  padding: 10px 150px 10px 10px;
  box-sizing: border-box;
}
.thirdcol form button {
  position: absolute;
  top: 50;
  right: 5%;
  background: none;
  border: none;
  color: black;
  font-size: 30px;
  outline: none;
}
.thirdcol .formdiv {
  position: relative;
}
.thirdcol .tags a {
  border: 1px solid #cccbcb;
  padding: 10px 20px;
  box-sizing: border-box;
}
.thirdcol .tags a:hover {
  border-color: #3e3ee4;
  background-color: #3e3ee4;
  color: white;
}
.thirdcol .margin {
  padding-bottom: 30px;
  box-sizing: border-box;
}

.pagination {
  font-size: 20px;
}
.pagination ul {
  padding: 50px;
  box-sizing: border-box;
}
.pagination ul a {
  padding: 10px 30px;
  box-sizing: border-box;
}

.width {
  width: 70%;
  padding: 100px 0;
  box-sizing: border-box;
}

.brandimg {
  width: 100%;
}

.footer {
  background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/footer_bg01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer .flex {
  padding-top: 250px;
  padding-bottom: 100px;
  box-sizing: border-box;
  color: white;
}
.footer .flex p {
  font-size: 14.5px;
  padding-top: 20px;
  box-sizing: border-box;
  line-height: 25px;
}
.footer .flex .margin {
  margin-left: -40px;
}
.footer .flex i {
  color: white;
  margin-right: 10px;
}
.footer .flex a {
  color: white;
}
.footer .flex a:hover {
  color: white;
  text-decoration-line: none;
  margin-left: 5px;
}
.footer .flex li {
  list-style: none;
  line-height: 30px;
}

.tag {
  border: 1px solid white;
  font-size: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.support h5 {
  padding-bottom: 15px;
  box-sizing: border-box;
}
.support p {
  margin-top: -15px;
}
.support .email {
  margin-top: -30px;
}
.support h6 {
  padding-bottom: 10px;
  box-sizing: border-box;
}
.support .icon {
  border: 1px solid #4e54ac;
  padding: 5px 15px;
  box-sizing: border-box;
}

.boxborder {
  padding: 10px 0 0 0;
  border-top: 1px solid #262950;
  color: white;
}
.boxborder a {
  color: white;
  font-weight: bolder;
}
.boxborder a:hover {
  color: white;
  text-decoration-line: none;
}
.boxborder .ml {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .footer {
    background-position: left;
  }

  .paddbtm {
    padding-top: 50px;
    box-sizing: border-box;
  }

  .center {
    text-align: center;
  }

  .signup, .search-icon {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
