//<!-------------------------the nav container --------------------------->//
.navbg{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/breadcrumb_bg.jpg);
    height: 400px;
    background-position: center;
}
.nav-link{
    color: white;
    font-weight: bold;
}
.navbar .navbar-toggler{
    border-color: white;
}
.thenav{
background-image:linear-gradient(to top right,#7543f9,#9168f7);
}
.nav-link:hover{
    color:white;
}

form .signup{
    color:rgb(110, 91, 216);
    font-weight: bold;
    padding: 15px 50px;
    box-sizing: border-box;
}
form .signup:hover{
    color: white;
    background:none;
}
form a{
    margin:0 50px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.navtext{
    padding-top: 150px;
    box-sizing: border-box;
    h3,a,li{
        color: white;
    }
    a:hover{
        color:white;
        text-decoration-line: none;
    }
    ol{
        background: none;
        margin-left: -15px;
        font-size: 20px;
        .home{
            font-size: 20px;
            font-weight: 700;
        }
       span{
           color: white;
           margin: 0 5px;
       }
    }
}
.active{
    color: white;
    text-decoration-line: underline;
}
.border1{
    border-left: 5px solid white;
    padding-left: 20px;
    box-sizing: border-box;
    h3{
        font-size: 35px;
        font-weight: bold;
    }
}
@media(max-width:800px){
    .signup,.search-icon{
        display: none;
    }
}
// <!---------------------------------buttons container------------------->
.buttonscontainer{
    padding: 100px 0 50px 0;
    box-sizing: border-box;
    button{
        padding: 15px 30px ;
        box-sizing: border-box;
        background: none;
        outline: none;
        border: solid 1px rgb(174, 177, 184);
        color: black;
        text-decoration-line: none;
        margin: 0 5px;

    }
}
.active1{
    background-color: blue;
    color: white;
    border-color: blue;
}
//<!-------------------------------the filterable galary----------->
.filter{
    padding-bottom: 40px;
    box-sizing: border-box;
}
//<!-----------------------------------------brands carousel------------------------------------>
.width{
    width: 70%;
    padding: 100px 0;
    box-sizing: border-box;
}

.brandimg{
    width: 100%;
}
///<!------------------------------------foooooooooooooter--------------------------->
.footer{
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/footer_bg01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .flex{
        padding-top: 250px;
        padding-bottom: 100px;
        box-sizing: border-box;
        color: white;
        p{
            font-size: 14.5px;
            padding-top: 20px;
            box-sizing: border-box;
            line-height: 25px;
        }
        .margin{
            margin-left: -40px;
        }
        i{
            color: white;
            margin-right: 10px;
        }
        a{
            color: white;
            
        }
        a:hover{
            color: white;
            text-decoration-line: none;
            margin-left: 5px;
        }
        li{
            list-style: none;
            line-height: 30px;
        }
    }
}
.tag{
    border: 1px solid white;
    font-size: 15px;
    padding:5px;
    box-sizing: border-box;
}
.support{
 h5{
     padding-bottom: 15px;
     box-sizing: border-box;
 }
 p{
     margin-top: -15px;
 }
 .email{
     margin-top: -30px;
 }
 h6{
     padding-bottom: 10px;
     box-sizing: border-box;
 }
 .icon{
     border: 1px solid rgb(78, 84, 172);
     padding: 5px 15px;
     box-sizing: border-box;
    }
}
.boxborder{
    padding: 10px 0 0 0;
    border-top: 1px solid rgb(38, 41, 80);
    color: white;
    a{
        color: white;
        font-weight:bolder;
    }
    a:hover{
        color: white;
        text-decoration-line: none;
    }
    .ml{
        margin-right: 10px;
    }
}
@media(max-width:600px){
    .footer{
        background-position: left;
    }
    .paddbtm{
        padding-top: 50px;
        box-sizing: border-box;
    }
    .center{
        text-align: center;
    }
    .signup,.search-icon{
        display: none;
    }
}
//<!--------------the end------------------->